// app.scss
/////////////////////////////////////////////////////////////////////////////
@import '../node_modules/tachyons-sass/tachyons';

// top-level variables
/////////////////////////////////////////////////////////////////////////////
$bg_color: #222;
$fg_color: #cdcdcd;

// 3rd-Party imports
/////////////////////////////////////////////////////////////////////////////


// Components
/////////////////////////////////////////////////////////////////////////////


// Generic/Site-wide styles
/////////////////////////////////////////////////////////////////////////////
html {
    background-color: $bg_color;
}

body {
    color: $fg_color;
}
